<div class="container">
  <div class="row col-12">
    <div class="col-sm">
      Latitude
    </div>
    <div class="col-sm">
      Longitude
    </div>
    <div class="col-sm">Notes</div>
  </div>
  <div *ngFor="let location of locations" class="row col-12">
    <div class="col-sm">
      {{location.Latitude}}
    </div>
    <div class="col-sm">
      {{location.Longitude}}
    </div>
    <div class="col-sm">
      {{location.Notes}}
     </div>
  </div>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Add location note</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Space Station - New Notes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">?</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea [(ngModel)]="myNotes"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(myNotes)">Ok</button>
  </div>
</ng-template>